.account {
    text-align: center;
    /* border: 2px solid red; */
}

.account img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid var(--main-color );
}

.specifyColor {
    accent-color: #0aad0a;
    width: 100% !important;
} 
